body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }
  
  .palace, .airport, .vidhansabha{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
  .palace{
    background-image: url(../images/GettyImages-534909771-580f5f4c5f9b58564cc08bf2.jpg);
    min-height:100%;
  }
  
  .airport{
    background-image:url(../images/Bangalore-Airport.jpg);
    min-height:400px;
  }
  
  .vidhansabha{
    background-image:url(../images/Monuments_1000x650_SubHeadImages_210618.jpg);
    min-height:400px;
  }
  
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  
  @media(max-width:568px){
    .palace, .airport, .vidhansabha{
      background-attachment:scroll;
    }
  }
  